.lobby-item-full{
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.lobby-title{
    font-size: 2rem;
    color: black;
}

.lobby-items-list-container{
    width: 100%;
    background-color: #E5E5E5;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.lobby-items-list{
    width: 80%;
    padding: 1rem 0;
}

.lobby-item{
    width: 15rem;
    height: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.lobby-image-holder{
    width: 100%;
    height: 70%;
}

.lobby-image{
    width: 100%;
}

.expand-button-container{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.expand-text{
    font-size: 5rem;
    margin: 0;
    cursor: pointer;
}

.wheel{
    width: 100%;
    height: 8rem;
}

.car-parts{
    width: 100%;
    height: 20rem;
    background-image: url('bg3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}

.garage{
    width: 100%;
    height: 20rem;
    background-image: url('bg2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;

}

.races{
    width: 100%;
    height: 20rem;
    background-image: url('bg1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;

}

